<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Branching story generator</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>

    {{{body}}}

</body>
</html>
