<p><a href="/">Back to the start.</a></p>
<table>
  <tr>
    <td> <!-- blank --> <td> {{> child n }} <td> <!-- blank -->
  <tr>
    <td> {{> child w }} <td> {{   text   }} <td> {{> child e }}
  <tr>
    <td> <!-- blank --> <td> {{> child s }} <td> <!-- blank -->
</table>
